{% extends 'base.html.njk' %}
{% block title %}Madlib{% endblock title %}
{% block body %}
  <h3>There once was a {{ color }} {{ noun }} sitting in the Roman Colosseum. 
  When {{ person }} went to grab it, it burst into flames in a totally {{ adjective }} way.</h3>
{% endblock %}